# Sensitive information such as API keys, etc. across repo
secret_credentials.py

*.pyc

*.pdf

*.png

bower_components/

node_modules/

# Not necessary to show concatenated, unminified file
mamigot-frontend.js
