<header-photo></header-photo>

<div class="container">
  <div class="col-md-8 centered-block">
    <span class="section-headline">
      <a ng-href="/blog" class="undecorated-link">VIEW ALL</a>
    </span>
  </div>
</div>

<div class="container">
  <div class="col-md-8 centered-block" ng-controller="BlogDetailCtrl as detail">

    <h2>
      {{ detail.post.title }}
      <br>
      <small>{{ detail.post.created_at }}</small>
    </h2>

    <section class="data-block lead">
      <div ng-bind-html="detail.post.body"></div>
    </section>

  </div>
</div>
