<div class="container">
  <div class="col-md-8 centered-block">
    <section class="data-block" ng-controller="ProjectsPanelCtrl as panel">
      <span class="section-headline">
        PROJECTS | <a href="/projects" class="undecorated-link">VIEW ALL</a>
      </span>

      <span class="title-center-lg">
        <a ng-href="">
          {{ panel.getSelected().title }}
        </a>
      </span>

      <div class="row" ng-repeat="i in [1, panel.getNumRows()]">
        <div class="col-xs-4" ng-repeat="project in panel.getRow(i)">
          <div ng-mouseover="panel.selectProject(project.id)">
            <a ng-href="###" class="thumbnail">
              <img ng-cloak class="project-thumbnail" ng-class="{'project-thumbnail-active':panel.isSelected(project.id)}" ng-src="{{ project.logo }}">
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
