<div class="container">
  <div class="col-md-8 centered-block">
    <section class="data-block">
      <span class="section-headline">
        PROJECTS | <a href="/projects" class="undecorated-link">VIEW ALL</a>
      </span>

      <span class="title-center-lg"><a href="">Education Technology at IBL</span>

        <div class="row">
          <div class="col-xs-4">
            <a ng-href="#" class="thumbnail project-thumbnail">
              <img class="project-thumbnail" src="static/img/logos/about.png">
            </a>
          </div>
          <div class="col-xs-4">
            <a ng-href="#" class="thumbnail project-thumbnail">
              <img class="project-thumbnail"  src="static/img/logos/iblstudios.png">
            </a>
          </div>
          <div class="col-xs-4">
            <a ng-href="#" class="thumbnail project-thumbnail">
              <img class="project-thumbnail"  src="static/img/logos/edx.png">
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <a ng-href="#" class="thumbnail project-thumbnail">
              <img class="project-thumbnail" src="static/img/logos/flask.png">
            </a>
          </div>
          <div class="col-xs-4">
            <a ng-href="#" class="thumbnail project-thumbnail">
              <img class="project-thumbnail"  src="static/img/logos/nyu.png">
            </a>
          </div>
          <div class="col-xs-4">
            <a ng-href="#" class="thumbnail project-thumbnail">
              <img class="project-thumbnail"  src="static/img/logos/xilinx.png">
            </a>
          </div>
        </div>

      </section>
    </div>
  </div>
</div>
