{% import "macros/helpers.html" as helpers %}


{% set MAIN_GLYPHICON = 'glyphicon-chevron-right' %}


{% macro blog_subcategories() -%}
  <small>
    <span class="highlighted">latest</span>
    |
    <a href="{{ url_for('blog_archive') }}" class="undecorated-link">view all</a>
  </small>
{%- endmacro %}

{% macro projects_subcategories() -%}
  <small>
    <span class="highlighted">highlighted</span>
    |
    <a href="{{ url_for('projects') }}" class="undecorated-link">view all</a>
  </small>
{%- endmacro %}


{% macro list_view(title, href, posts, glyphicon=MAIN_GLYPHICON) -%}
  <div class="row">
    <h1>
      <div class="col-md-6">
        <span class="glyphicon {{ glyphicon }}">&nbsp</span>
        <a href="{{ href }}" class="undecorated-link">
          {{ title }}
        </a>
      </div>
      <div class="col-md-6">
        {% if title == "Blog" %}
          {{ blog_subcategories() }}

        {% elif title == "Projects" %}
          {{ projects_subcategories() }}

        {% endif %}
      </div>
    </h1>
  </div>

  {% for post in posts %}
    <br>
    <h4>
      <a href="">{{ post.title }}</a>
      <br>
      <small>{{ post.created_at }}</small>
    </h4>
    <h5 class="summarized_item">
      {{ post.desc }}
    </h5>
  {% endfor %}

{%- endmacro %}

{% macro single_title(title, href="", anchor="", subtitle="",
                      highlighted=True, glyphicon=MAIN_GLYPHICON) %}
  <div class="row">
    <h1>
      <div class="col-md-6">
        <span class="glyphicon {{ glyphicon }}">&nbsp</span>
        {% if highlighted %}
          <span class="highlighted">
            {{ helpers.linkify(title, href, anchor) }}
          </span>

        {% else %}
          {{ helpers.linkify(title, href, anchor) }}

        {% endif %}
      </div>
      <div class="col-md-6">
        <small>{{ subtitle }}</small>
      </div>
    </h1>
  </div>
{%- endmacro %}
