/* Apply font to entire website */
* { font-family: 'Raleway', 'Helvetica Neue'; }

.centered-block{
  display: block;
  margin-right: auto;
  margin-left: auto;
  float: none;
}

.undecorated-link, .undecorated-link:hover{
  text-decoration: none;
  color: black;
}

/* External logos on navigation bar */
.navbar-brand-icon {
  height: 30px;
  margin: -10px 0px -10px 0px;
}

#header-photo{
  height: 300px;
  margin-top: -20px;
  margin-bottom: 20px;
  background-size: cover;
  background-position: center;
  //background-image: none;
  background-image: url("https://pbs.twimg.com/profile_banners/527094727/1401732787/1500x500");
}
#header-photo-title{
  text-align: center;
  line-height: 300px;
  font-size: 55px;
  font-weight: bold;
  color: white;
}

#about-me{
  margin-top: 0px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-size: 140%;
}
#mikel-portrait{
  width: 100%;
}

.data-block{
  padding-top: 3%;
  padding-bottom: 5%;
}
.nested-data-block{
  padding: 5% 0%;
}
.post-item{
  padding: 1.5% 0%;
}
.post-title{
  font-weight: bold;
}
.title-center-lg{
  display: block;
  padding-top: 5.5%;
  padding-bottom: 30px;
  text-align: center;
  font-size: 180%;
  font-weight: bolder;
}

.section-headline{
  color: grey;
  font-size: 90%;
}
.section-footline{
  display: block;
  color: grey;
  font-size: 90%;
  padding-top: 2.5%;
}

.thumbnail{
  border: 0px;
}
.project-thumbnail{
  max-height: 90px;
  padding-bottom: 5px;
  opacity: 0.5;
}
.project-thumbnail-active{
  opacity: 1;
}

.footer{
  padding: 2% 20%;
}
.footer-center-col{
  text-align: center;
}
.footer-right-col{
  text-align: right;
}
