/* Apply font to entire website */
* { font-family: 'Raleway', 'Helvetica Neue'; }

/* External logos on navigation bar */
.navbar-brand-icon {
  height: 30px;
  margin: -10px 0px -10px 0px;
}

#header-photo{
  height: 300px;
  margin-top: -20px;
  margin-bottom: 20px;
  background-size: cover;
  background-position: center;
  background-image: none;
  //background-image: url("https://pbs.twimg.com/profile_banners/527094727/1401732787/1500x500");
}
#header-photo-title{
  text-align: center;
  line-height: 300px;
  font-size: 55px;
  font-weight: bold;
  color: white;
}

/* Introductory summary and picture */
.intro{
  margin-top: 0px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-size: 2.5rem;
}
/* Portrait */
#mikel{
  width: 100%;
}
.tag-line{
  font-size: 80%;
}

.centered{
  display: block;
  margin-right: auto;
  margin-left: auto;
  float: none;
}
.summarized_item{
  margin-left: 3%;
}
.undecorated-link, .undecorated-link:hover{
  text-decoration: none;
  color: black;
}

/* Single post view */
.highlighted, .highlighted:hover{
  text-decoration: none;
  color: #337ab7;
}

.footer{
  padding: 2% 20%;
}
.footer-center-col{
  text-align: center;
}
.footer-right-col{
  text-align: right;
}
