{% set DEFAULT_BLOCK_SIZE = 6 %} <!-- Uses Bootstrap's grid system; up to 12 -->
{% set DEFAULT_TITLE_GLYPH = 'glyphicon-chevron-right' %}



{% macro single_title(category, subtitle, link=None,
                      block_size=DEFAULT_BLOCK_SIZE,
                      glyphicon=DEFAULT_TITLE_GLYPH) -%}
  <h1>
    <span class="glyphicon {{ glyphicon }}" aria-hidden="true"></span>
    &nbsp&nbsp

    {% if link %}
      <a href="{{ link }}">{{ category }}</a>
    {% else %}
      {{ category }}
    {% endif %}
    <small>{{ subtitle }}</small>
  </h1>
{%- endmacro %}


{% macro list_title(category, sub_views,
                    block_size=DEFAULT_BLOCK_SIZE,
                    glyphicon=DEFAULT_TITLE_GLYPH) -%}
  <div class="row">
    <h1>
      <div class="col-md-{{ block_size }}">
        <span class="glyphicon {{ glyphicon }}" aria-hidden="true"></span>
        &nbsp&nbsp

        {{ category }}
      </div>
      <div class="col-md-{{ block_size }}">
        {% for name, link in sub_views %}

        <a href="{{ link }}"
           class=" {{ category + '-sub-' + name.replace(' ', '-') }} ">
          {% if loop.first %}
            <small class="active-category">{{ name }}</small>
          {% else %}
            <small>{{ name }}</small>
          {% endif %}
        </a>

        {% if not loop.last %}
          <small> | </small>
        {% endif %}

        {% endfor %}
      </div>
    </h1>
  </div>
{%- endmacro %}


{% macro list_item(category) -%}
  <div class="row summarized_item {{ category + '-item' }}">
    <h4>
      <a href="" class="{{ category + '-item-link' }}"></a>
      <br>
      <small class="{{ category + '-item-date' }}"></small>
    </h4>
    <h5 class="row summarized_item {{ category + '-item-summary' }}"></h5>
  </div>
{%- endmacro %}


{% macro blog() -%}
  {{
    list_title(category='Blog',
              sub_views=[('latest', 'link'), ('view all', 'link2')])
  }}
  <br>
  {{
    list_item(category='blog')
  }}
{%- endmacro %}


{% macro projects() -%}
  {{
    list_title(category='Projects',
              sub_views=[('highlighted', 'link'), ('view all', '/')])
  }}
  <br>
  {{
    list_item(category='projects')
  }}
{%- endmacro %}


{% macro resume() -%}
  {{
    single_title(category='Resume',
                 subtitle="(courtesy of LinkedIn's API)",
                 link='link3')
  }}
{%- endmacro %}


{% macro contact() -%}
  {{
    single_title(category='Contact Me',
    subtitle="(or via email at <a href='mailto:miguel.amigot@gmail.com'> \
              miguel.amigot@gmail.com</a>)" | safe,
    glyphicon='glyphicon-envelope')
  }}
{%- endmacro %}
