{% extends "__layout.html" %}
{% import "_previews.html" as previews %}


{% block main_body %}

  {% block introductory_summary %}
    {% include '_intro_summary.html' %}
  {% endblock %}


  <div class="row">
    <div class="col-md-6 center-block" style="float: none">
      <div class="list-view">

        {{ previews.blog() }}
        <br>
        {{ previews.projects() }}
        <br>
        {{ previews.resume() }}

      </div>
    </div>
  </div>

  <!-- Contact -->
  <div class="row">
    <div class="col-md-8 center-block" style="float: none">
      <div class="list-view">

        {{ previews.contact() }}
        <br>
        {% block contact %}
          {% include '_contact_form.html' %}
        {% endblock %}

      </div>
    </div>
  </div>
  <!-- /Contact -->

{% endblock %}
