<div class="container">
  <div class="page-header" id="about-me">
    <div class="row">
      <div class="col-xs-2" id="portrait">
        <img src="https://avatars2.githubusercontent.com/u/4607838?v=3&amp;s=460" alt="" class="img-circle" id="mikel-portrait">
      </div>
      <div class="col-xs-10 tag-line">
        <p>I study Computer Science and Electrical Engineering at NYU.</p>
        <p>I am passionate about software engineering as well as entrepreneurship and my goal is to create a product for the public good.</p>
      </div>
    </div>
  </div>
</div>
