<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Miguel Amigot</title>

    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="main.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Miguel Amigot</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Blog</a></li>
            <li><a href="#about">Contact</a></li>
            <li><a href="#contact">Resume</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Projects <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <div class="container-fluid">
            <div class="navbar-header navbar-right navbar-brand">
              <a href="#">
                <img class="navbar-brand-icon" src="http://static.squarespace.com/static/52ed830ee4b02ab844b5f126/t/53347da3e4b09fffc70d613a/1395948969105/twitter-logo-transparent-small.png">
              </a>
              <a href="#">
                <img class="navbar-brand-icon" src="http://www.iconsdb.com/icons/download/black/github-11-256.png">
              </a>
              <a href="#">
                <img class="navbar-brand-icon" src="http://crlsalumni.org/img/linkedin_icon.png">
              </a>
              <a href="#">
                <img class="navbar-brand-icon" src="http://sociallyacceptabledotme.files.wordpress.com/2013/04/facebook_logo_square.png?w=281&h=281">
              </a>
            </div>
          </div>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      
      <!-- Introductory summary -->
      <div class="page-header intro">
        <div class="row">
          <div class="col-xs-2" id="portrait"><img src="https://avatars2.githubusercontent.com/u/4607838?v=3&amp;s=460" alt="..." class="img-circle" id="mikel"></div>
          <div class="col-xs-10">I'm a fourth-year student in a five-year program of Computer Science and Electrical Engineering at NYU.</p> <p>I am passionate about software engineering as well as entrepreneurship and my goal is to create a product for the public good.</div>
        </div>
      </div>
      <!-- /Introductory summary -->
      
      
      <!-- Single Blog Post
      <div class="row">
        <div class="col-md-7 center-block" style="float: none">
          <h2>
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            &nbsp&nbsp
            <span class="single-post-title">Title of one post in the blog <small>December 12, 2014</small></span>
          </h2>
          <br>
          <p class="lead">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat</p>
          <p class="lead">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat</p>
          <p class="lead">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat</p>
        </div> 
      </div> -->
      <div class="row">
        <!-- Blog -->
        <div class="col-md-6 center-block" style="float: none">
          <div class="row">
            <h1>
              <div class="col-md-6">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>&nbsp&nbsp
                Blog
              </div>
              <div class="col-md-6">
                <small class="active-category">latest</small>
                <small> | </small>
                <a href="blog/"><small>view all</small></a>
              </div>
            </h1>
          </div>
          <br>
          <div class="row summarized_item">
            <h4>
              <a href="postlink">Title of one post in the blog</a>
              <br>
              <small>December 12, 2014</small>
            </h4>
            <h5 class="row summarized_item">
              Summary of the post that blash adshl asdhalsdk asdasdlja alsdjhaksd
            </h5>
          </div>
        </div>
      </div>
      <!-- /Single Blog Post
      <div class="row">
        <div class="col-md-7 center-block" style="float: none">
          <h1>
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>&nbsp&nbsp
            Blog
            <small class="active-category">latest</small><small> | </small><small>view all</small>
          </h1>
          <div class="row summarized_item">
            <h4><a href="">Title of one post in the blog <small>December 12, 2014</small></a></h4>
            <h5 class="row summarized_item">Summary of the post that blash adshl asdhalsdk asdasdlja alsdjhaksd</h5>
          </div>
          <div class="row summarized_item">
            <h4><a href="">Title of something else among <small>December 12, 2014</small></a></h4>
            <h5 class="row summarized_item">Summary of the post that blash adshl asdhalsdk asdasdlja alsdjhaksd</h5>
          </div>
          <div class="row summarized_item">
            <h4><a href="">Pencil which is also really interesting <small>December 12, 2014</small></a></h4>
            <h5 class="row summarized_item">Summary of the post that blash adshl asdhalsdk asdasdlja alsdjhaksd</h5>
          </div>
          <div class="row summarized_item">
            <h4><a href="">Glass of one tomato shoes coat <small>December 12, 2014</small></a></h4>
            <h5 class="row summarized_item">Summary of the post that blash adshl asdhalsdk asdasdlja alsdjhaksd</h5>
          </div>
          <div class="row summarized_item">
            <h4><a href="">Another tilte for a sample of the blog <small>November 4, 2014</small></a></h4>
            <h5 class="row summarized_item">Summary of the post that blash adshl asdhalsdk asdasdlja alsdjhaksd</h5>
          </div>
        </div>  
      </div>-->
      
    </div> <!-- /container -->
    
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Latest compiled and minified Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
