{% extends "layouts/_layout.html" %}
{% import "macros/subsections.html" as subsections %}


{% block main_body %}

  <div class="col-md-6 centered">
    {{ subsections.list_view('Blog', url_for('blog_archive'), blog_posts) }}
    <hr>
    {{ subsections.list_view('Projects', url_for('projects'), project_posts) }}
    <hr>
    {{ subsections.single_heading(title='Resume',
                                  href= url_for('resume_html'),
                                  subtitle='(via LinkedIn\'s API)') }}
    <hr>
  </div>

  <div class="col-md-8 centered">
    {{ subsections.single_heading(title='Contact Me',
                                  anchor='contact',
                                  highlighted=False,
                                  glyphicon='glyphicon-envelope') }}
    <br>
    {% include 'includes/contact_form.html' %}
  </div>

{% endblock %}
