{% extends "layouts/_layout.html" %}
{% import "macros/subsections.html" as subsections %}


{% block main_body %}

  <div class="col-md-10 centered">


    <div class="col-md-8">
      {{ subsections.single_heading("Projects", highlighted=False) }}

      {{ subsections.full_post(shown_post) }}
    </div>


    <div class="col-md-4">
      <h1><small>all posts</small></h1>
      {{ subsections.list_posts("Projects", posts) }}

      <h1><small>latest code (GitHub)</small></h1>
    </div>

  </div>

{% endblock %}
